{% extends 'base.html.twig' %}


{% block title %}Post
{% endblock %}
{% block body %}
	<main class="d-flex flex-column">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb m-0">
				<li class="breadcrumb-item">Administration</li>
				<li class="breadcrumb-item active" aria-current="page">Gestion des articles</li>
			</ol>
		</nav>

		{% include ('inc/menuadmin.html.twig') %}
		<section class="col-md-7 py-4 mx-auto">
			<header class="jumbotron text-center">
				<h2 class="text-center mb-4 display-4">Gestion des articles</h2>
				<hr class="my-4">
				<a class="btn btn-dark" href="https://sql.sh/cours/insert-into" target="_blank">
					<i class="fa fa-external-link-alt" aria-hidden="true"></i>
					SQL INSERT INTO</a>
				<a class="btn btn-dark" href="https://sql.sh/cours/update" target="_blank">
					<i class="fa fa-external-link-alt" aria-hidden="true"></i>
					SQL UPDATE</a>
				<a class="btn btn-dark" href="https://sql.sh/cours/delete" target="_blank">
					<i class="fa fa-external-link-alt" aria-hidden="true"></i>
					SQL DELETE</a>
				<a class="btn btn-dark" href="https://www.php.net/manual/fr/pdostatement.rowcount.php" target="_blank">
					<i class="fa fa-external-link-alt" aria-hidden="true"></i>
					Nombre de lignes affectées par une requête</a>
			</header>
			<nav class="mb-4">
				<a href="{{ path('app_post_new') }}">
					<i class="fas fa-plus" aria-hidden="true"></i>
					Créer un article
				</a>
			</nav>
			<table class="table table-striped">
				<caption>
					Liste des posts classés par ordre chronologique inversé
					<strong>{{ posts|length}}</strong>
				</caption>
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Titre</th>
						<th>Catégorie</th>
						<th>Auteur</th>
						<th>Date</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{% for post in posts %}
						<tr>
							<td>{{ post.id }}</td>
							<td>
							<a href="{{ path('app_post_show', {'id':post.id}) }}">{{ post.title }}</a>
							</td>
							<td>{{ post.category.name }}</td>
							<td>{{ post.user.firstname }}</td>
							<td>{{ post.creationtimestamp ? post.creationtimestamp|date('Y-m-d') : '' }}</td>
							<td>
								<a href="{{ path('app_post_edit', {'id': post.id}) }}">
									<i class="fa fa-pen-nib" aria-hidden="true"></i>
								</a>
							</td>
							<td>
								<form method="post" action="{{ path('app_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
									<button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
								</form>

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">no post found</td>
						</tr>
					{% endfor %}
				</tbody>

			</table>
		</section>
	</div>
</main>{% endblock %}
